
*{
    padding:0%;
    margin: 0%;
}
header{
   background: linear-gradient(red, orange, yellow, green, blue, indigo,violet);
    height: 100px;
    padding:0%;
    margin: 0%;

}

footer{
    background-color: lightgreen;
    padding:0%;
    margin: 0%;
}

h2{
    background-color:rgb(176, 206, 176);
    text-align: center;
    color: darkgreen;
}

a{
    margin: 10px;
    font-size: 20px;
    height:100px;
    
}

table,th,td{
    border: 1px solid lightyellow;
    border-collapse: collapse;           
}
th{
    text-align: left;
}

#icon{
    width: 250px;
    height: 250px;
}
body{
    background-image: url('bg.jpg');
}
table{
    
    margin: 5px;
    background-color: whitesmoke;
    height:150px;
}
th,td{
    width: 200px;
}

#nav{
    text-decoration: none;
    text-align:center;
    font-size: 25px;
    color: rgb(212, 230, 212);

}

nav{
    text-align:center;
    height:50px;
 
}

#nav:hover{
    
    color: red;
    height: 100px;

}

#welcome{
    background-color:skyblue; 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:darkgreen;
    font-weight:bold;
    font-size: 30px;

}
th{
    background-color:greenyellow ;
    color:darkgreen;
}
td{
    background-color:rgb(255, 231, 223);
}
h3{
    text-align:center;
}
ol{
    margin:5px;
    border-radius:5px ;
    padding-left:35px;
    background-color:rgb(255, 231, 223) ;
    width:90%;
    text-align: left;
    font-size: 22px;
    color: blue;
    

}
ul{
    margin:5px;
    border-radius: 5px;
    padding-left: 35px;
    background-color:rgb(255, 231, 223) ;
    width:90%;
    text-align: left;
    font-size: 22px;
    color:blue;


}
#about{
    background-color:rgb(255, 231, 223) ;
    margin:5px;
    width:90%;
    text-align: left;
    font-size: 22px;
    color:blue;
}

#contact{
    margin:5px;
    background-color:rgb(255, 231, 223);
    width:80%;
    height: 500px;
}

#me{
    text-align: center;
}